*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #e9eef3;
}

/* MAIN CONTAINER */
.container{
  max-width: 1000px;
  margin: auto;
  background: #fff;
  border: 1px solid #cfd8dc;
}

/* HEADER */
nav{
  text-align: center;
  padding: 15px 10px;
  background: linear-gradient(#1e3c72, #2a5298);
  border-bottom: 4px solid #ff9933;
}

nav h1{
  color: #fff;
  font-size: 32px;
}

nav h1 span{
  color: #ffcc00;
}

nav p{
  color: #fff;
  font-size: 14px;
  margin-top: 5px;
}

/* SECTION TITLE */
.section-title{
  margin: 15px;
  padding: 6px 12px;
  width: fit-content;
  font-size: 18px;
  background: #f1f5f9;
  color: #1e3c72;
  border-left: 4px solid #1e3c72;
}

/* PERSONAL DETAILS */
.personal-details{
  padding: 15px;
  display: flex;
  gap: 15px;
}

.personal-details input{
  flex: 1;
  height: 34px;
  padding: 6px;
  font-size: 14px;
  border: 1px solid #9e9e9e;
}

/* MOBILE */
@media (max-width: 600px){
  nav h1{
    font-size: 22px;
  }

  .personal-details{
    flex-direction: column;
  }
}
