* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: rgb(231, 231, 231);
  width: 100%;
  height: 100vh;
}

header {
  background: linear-gradient(rgb(58, 58, 255), blue);
  color: white;
  position: relative;
  z-index: 2000;
}

.nav-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  border-bottom: 1px solid white;
}

.logo h1 {
  font-size: 22px;
}

.logo p {
  font-size: 13px;
}

.menu-btn {
  font-size: 24px;
  cursor: pointer;
  display: none;
  z-index: 4000;
}

.nav-foot ul {
  display: flex;
  justify-content: center;
  gap: 35px;
  list-style: none;
  padding: 12px 0;
}

.nav-foot ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.hero-section {
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  /* background-image: url("assits/bg1.jpeg"); */
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("assits/bg1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  padding-top: 40px;
  padding-left: 60px;
  width: 100%;
  height: 100%;
}
.hero-title span {
  padding: 5px;
  background-color: blue;
  color: orange;
  border-radius: 5px;
  font-size: 15px;
  width: auto;
  text-align: center;
}
.hero-title h1 {
  margin-top: 20px;
  color: white;
  font-size: 40px;
}
.hero-title p {
  margin-top: 10px;
  color: white;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
}
.hero-title a button {
  background-color: rgb(0, 255, 13);
  color: white;
  border: none;
  outline: none;
  font-size: 20px;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  margin-top: 10px;
}
.hero-title a:last-child button {
  background-color: rgb(69, 97, 255);
  margin-left: 20px;
}
.hero-details {
  margin-top: 10px;
  display: flex;
  height: 10vh;
  width: 550px;
  background-color: rgb(48, 48, 48);
  padding-left: 20px;
}
.hero-details hr {
  margin: 10px;
  color: whitesmoke;
}
.card {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
}

.card i {
  font-size: 30px;
  color: rgb(0, 255, 13);
}
.card p {
  font-size: 12px;
  font-style: italic;
}
.about-section{
  margin-top: 10px;
  height: 90vh;
}
.about-head{
  text-align: center;
  color: rgb(3, 3, 44);
}
.about-container{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 90%;
  gap: 30px;
  padding: 20px;
}
.images{
   width: 40vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
 
}
.images img{
 width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
}
.about-tittle{
  width: 50vw;
  padding: 20px;
}
.about-tittle h1{
   text-align: left;
  color: rgb(3, 3, 44);
  margin-bottom: 10px;
}
.about-tittle p{
  font-size: 18px;
  font-style: italic;
}
.about-card{
 margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.about-card .card{
  background-color: #fff;
  padding: 15px;
  border-radius: 12px;
  display: flex;
  gap: 12px;
  align-items: center;
  box-shadow: 0 6px 15px rgba(0,0,0,0.08);
}
.about-card .card h1{
  background-color: rgb(3, 3, 44);
  color: white;
  font-size: 22px;
  padding: 10px 14px;
  border-radius: 8px;
  margin: 0;
}
.about-card h2{
   font-size: 16px;
  margin: 0;
}


body.menu-open::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2500;
}
/* --- Mobile Responsive  --- */
 

@media (max-width: 768px) {
 
  .menu-btn {
    display: block;
  }
  .nav-foot ul {
    display: none; 
  }
  .hero-section {
    height: auto;
    min-height: 80vh; 
 
  }

  .hero-title {
    padding-left: 0;
    text-align: left;
    padding-left: 20px;
  }

  .hero-title h1 {
    font-size: 26px;
  }
  .hero-details {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    background-color: rgba(48, 48, 48, 0.7);  
    padding: 10px;
    margin-top: 20px;
    gap: 5px;
  }

  .hero-details hr {
 display: none;  
  }

  .hero-title a button {
    width: 45%;  
    font-size: 16px;
    margin-left: 5px  ;
  }

  
  .about-section {
    height: auto;

  }

  .about-container {
    flex-direction: column;
    gap: 20px;
  }

  .images {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);  
  }

  .about-tittle {
    width: 100%;
    padding: 10px;
   
  }
 
  .about-card {
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
  }

  .about-card .card {
    padding: 10px;
    flex-direction: column; /* Icon upar, text niche taaki space bache */
    text-align: center;
  }

  .about-card .card h1 {
   
    font-size: 18px;
    padding: 5px 10px;
    text-align: left;
  }

  .about-card h2 {
    font-size: 18px;
      text-align: left;
      padding-left: 10px;
  }
  .about-card p{
    font-size: 14px;
    text-align: left;
      padding-left: 10px;
  }
}