* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: antiquewhite;
}

header {
  background: linear-gradient(rgb(58, 58, 255), blue);
  color: white;
  position: relative;
  z-index: 2000;
}

.nav-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  border-bottom: 1px solid white;
}

.logo h1 {
  font-size: 22px;
}

.logo p {
  font-size: 13px;
}

.menu-btn {
  font-size: 24px;
  cursor: pointer;
  display: none;
  z-index: 4000;
}

.nav-foot ul {
  display: flex;
  justify-content: center;
  gap: 35px;
  list-style: none;
  padding: 12px 0;
}

.nav-foot ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.hero-section {
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-image: url("assits/bg1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  padding-top: 40px;
  padding-left: 60px;
  width: 100%;
  height: 100%;
}
.hero-title span {
  padding: 5px;
  background-color: blue;
  color: orange;
  border-radius: 5px;
  font-size: 15px;
  width: auto;
  text-align: center;
}
.hero-title h1 {
  margin-top: 20px;
  color: white;
  font-size: 40px;
}
.hero-title p {
  margin-top: 10px;
  color: white;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
}
.hero-title a button {
  background-color: rgb(0, 255, 13);
  color: white;
  border: none;
  outline: none;
  font-size: 20px;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  margin-top: 10px;
}
.hero-title a:last-child button {
  background-color: rgb(69, 97, 255);
  margin-left: 20px;
}
.hero-details {
  margin-top: 10px;
  display: flex;
  height: 10vh;
  width: 550px;
  background-color: rgb(48, 48, 48);
  padding-left: 20px;
}
.hero-details hr {
  margin: 10px;
  color: whitesmoke;
}
.card {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
}

.card i {
  font-size: 30px;
  color: rgb(0, 255, 13);
}
.card p {
  font-size: 12px;
  font-style: italic;
}
 
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav-foot {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 260px;
    background: linear-gradient(rgb(58, 58, 255), blue);
    transition: 0.4s;
    padding-top: 80px;
    z-index: 3000;
  }

  .nav-foot.active {
    right: 0;
  }

  .nav-foot ul {
    flex-direction: column;
    gap: 25px;
    padding-left: 30px;
  }

  .nav-foot ul li a {
    font-size: 18px;
  }
}

body.menu-open::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2500;
}


@media (max-width:768px){
.hero-title{
    padding-left: 10px;
}
.hero-title h1{
    font-size: 32px;
}
.hero-title p{
    color: wheat;
    font-size: 15px;
}
.hero-title a button{
   margin-left: 20px;
} 
.hero-details{
    display: none;
}
}
