*{
    margin: 0;
    padding: 0;
}
.body{
    background-color: white;
   
}
.head{
    height: 10vh;
    width: 100%;
    background-color: blue;
    border-bottom: 1px solid white;
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}
.logo{
  display: flex;
  padding-left: 30px;
}
.logotext{
    color: white;
}
.loginbtn{
    background-color: orange;
    outline: none;
    border: none;
    height: 30px;
    width: 110px;
    margin-right: 30px;
}
.foot{
    height: 30px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot ul a{
    color: white;
    text-decoration: none;
    margin-left: 30px;
}