* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}

/* ---nav--- */
nav {
  min-height: 70px;
  border-bottom: 1px solid rgb(110, 110, 110);
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  flex-wrap: wrap;
}
 
nav h1 {
  color: rgb(14, 14, 179);
  font-size: 24px;
    font-family: "Lora", cursive;
  font-weight: 700;
  font-style: normal;
}
nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  flex-wrap: nowrap;
   align-items: flex-start;
}
nav ul li a {
  text-decoration: none;
  font-size: 19px;
  color: black;
  font-family: "Lora";
  font-style: normal;
}
nav ul li a:hover{
  color: #0a2ca0;
  font-weight: 800;
}
 .menu-btn{
  font-size:28px;
  cursor:pointer;
  display:none;
  color:rgb(14,14,179);
}

/* overlay background */
.overlay{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.4);
  opacity:0;
  pointer-events:none;
  transition:0.3s;
}

/* MOBILE */
@media(max-width:768px){

  .menu-btn{
    display:block;
  }

  nav{
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
  nav h1{
  display: flex;
  gap: 120px;
  }
  nav ul{
    position:fixed;
    top:0;
    right:-260px;      /* hidden */
    width:260px;
    height:100%;
    background:white;
    flex-direction:column;
 align-items: flex-start;
    padding-top:80px;
    gap:0;
    transition:0.35s ease;
    box-shadow:-5px 0 15px rgba(0,0,0,0.2);
    z-index:1001;
  }

  nav ul li{
    padding:14px 20px;
    border-bottom:1px solid #eee;
  }

  nav ul li a{
    font-size:17px;
    display:block;
  }

  /* active */
  nav ul.active{
    right:0;
  }

  .overlay.active{
    opacity:1;
    pointer-events:auto;
  }
}

/* ---hero---- */
.hero-section {
  min-height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("assits/bg1.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-tittle {
  padding: 0 8%;
  max-width: 700px;
}
.hero-section h1 {
  color: white;
  font-size: 48px;
}
.hero-tittle p {
  margin: 20px 0;
  color: white;
  font-size: 18px;
}
.btn-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.lerna-morebtn,
.applybtn {
  cursor: pointer;
  height: 42px;
  width: 180px;
  border: none;
}
.lerna-morebtn {
  background: orange;
  color: black;
}
.applybtn {
  background: rgb(3, 3, 102);
  color: white;
}

.heading {
  padding: 12px;
  font-size: 28px;
  color: white;
  background: rgb(3, 3, 102);
  text-align: center;
  font-family: "Playfair Display";
}

.notice-section{
  width:100%;
  display:flex;
  align-items:center;
 background-color: orangered;
  color:white;
  height:45px;
  overflow:hidden;
  font-family:Arial, Helvetica, sans-serif;
}

.notice-title{
  background:#ffcc00;
  color:black;
  font-weight:bold;
  padding:0 20px;
  height:100%;
  display:flex;
  align-items:center;
  white-space:nowrap;
}

.notice-wrapper{
  flex:1;
  overflow:hidden;
  position:relative;
}

.notice-track{
  display:flex;
  gap:60px;
  white-space:nowrap;
  animation: tickerMove 30s linear infinite;
}

/* Hover pe ruk jayega */
.notice-wrapper:hover .notice-track{
  animation-play-state: paused;
}

.notice-track a{
  color:white;
  text-decoration:none;
  font-size:15px;
  font-weight:500;
}

.notice-track a:hover{
  text-decoration:underline;
  color:#ffcc00;
}

 
@keyframes tickerMove{
  0%{
    transform:translateX(100%);
  }
  100%{
    transform:translateX(-100%);
  }
}


/* ----about---- */
.About-section {
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 60px 5%;
  flex-wrap: wrap;
}
.about-tittle {
  width: 500px;
}
.about-tittle h2 {
  margin-top: 10px;
  font-size: 22px;
  font-weight: 700;
  color: rgb(8, 8, 177);
}
.about-tittle hr {
  margin: 10px 0;
  height: 3px;
  background: rgb(8, 8, 177);
  border: none;
}
.about-images {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-images img {
  width: 100%;
  max-width: 500px;
}

/* ---courses---- */
.courses-section {
  background: white;
  padding-bottom: 60px;
}
.courses-section h2 {
  font-size: 22px;
  text-align: center;
  padding-top: 20px;
  color: blue;
}
.cources-card {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 0 5%;
}
.cources-card .card {
  border: 1px solid black;
  background: white;
  cursor: pointer;
}
.cources-card .card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.cources-card .card h4 {
  padding: 10px;
  font-size: 18px;
  color: blue;
}
.cources-card .card p {
  font-size: 15px;
  padding: 0 10px 15px;
}

/* ---facilities---- */
.facilities-section {
  padding: 40px 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  background: white;
}
.facilities-card {
  height: 200px;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  align-items: end;
      background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
 .card1 {
  background-image: url("https://i.pinimg.com/736x/66/53/77/6653774249531fa9a7f640eac0a055e2.jpg");
}
.card2 {
  background-image: url("https://i.pinimg.com/1200x/e9/51/93/e95193d2cb47d96e81262bfc2c84b899.jpg");
}
.card3 {
  background-image: url(" https://i.pinimg.com/736x/6a/c0/45/6ac045b71e7e5407a814a8be99d4f95b.jpg");
}
.card4{
  background-image: url('https://i.pinimg.com/1200x/b0/8d/e0/b08de0b79be8c9432dc61e20c450b9dd.jpg');
}
.facilities-card span {
  color: white;
  background: blue;
  padding: 6px 10px;
  font-size: 18px;
}

/* ---admission---- */
.Admission-section {
  background: white;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 60px 5%;
  flex-wrap: wrap;
}
.admission-title {
  max-width: 450px;
}
.admission-title h2 {
  margin: 10px 0;
  font-size: 22px;
  color: blue;
}
.admission-title hr {
  height: 3px;
  border: none;
  background: rgb(35, 35, 145);
  margin-bottom: 10px;
}
.admission-title li {
  margin: 8px 0;
}
.center-line {
  width: 2px;
  background: blue;
}
#apply-btn {
  margin-top: 15px;
  cursor: pointer;
  height: 42px;
  width: 180px;
  color: white;
  border: none;
  background: rgb(3, 3, 102);
}

/* ---Contact-section-- */

.contact-section{
  width:100%;
  padding:40px 5%;
  display:flex;
  gap:30px;
  background:white;
}

.contact-form{
  flex:1;
  display:flex;
  flex-direction:column;
  gap:15px;
}

.contact-form h2{
  color:#0a2ca0;
  font-size:26px;
}

.contact-form input,
.contact-form textarea{
  width:100%;
  padding:12px;
  border:1px solid #ccc;
  outline:none;
  border-radius:6px;
  font-size:15px;
}

.contact-form textarea{
  min-height:120px;
  resize:none;
}

.contact-form button{
  height:45px;
  background:#0a2ca0;
  color:white;
  border:none;
  cursor:pointer;
  font-size:16px;
  border-radius:6px;
}

.contact-form button:hover{
  background:#061a66;
}

.contact-map{
  flex:1;
  min-height:350px;
}

.contact-map iframe{
  width:100%;
  height:100%;
  border:0;
  border-radius:8px;
}

/* ----footer---- */

.footer-section{
  width:100%;
  background:linear-gradient(#161672,#0b0b3f);
  padding:40px 5%;
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:40px;
}

.footer-col h3{
  color:white;
  margin-bottom:15px;
}

.footer-col a{
  display:block;
  color:#dcdcdc;
  text-decoration:none;
  margin:6px 0;
  font-size:15px;
}

.footer-col a:hover{
  color:white;
  padding-left:5px;
}

.footer-col p{
  color:#dcdcdc;
  font-size:15px;
  line-height:1.6;
}

.copyright{
  background:#05053a;
  color:white;
  text-align:center;
  padding:12px;
  font-size:14px;
}

@media(max-width:900px){
  .contact-section{
    flex-direction:column;
  }
  .footer-section{
    grid-template-columns:repeat(2,1fr);
  }
}

@media(max-width:500px){
  .footer-section{
    grid-template-columns:1fr;
  }
}

/* ---tablet ----*/
@media (max-width: 900px) {
  .hero-section h1 {
    font-size: 38px;
  }
  .center-line {
    display: none;
  }
}

/* ----mobile---- */
@media (max-width: 600px) {
  nav {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
  nav ul {
    justify-content: center;
  }
  .hero-section h1 {
    font-size: 30px;
  }
  .heading {
    font-size: 22px;
  }
  .notice-title{
 display: none;
  }
}
