* {
  margin: 0;
  padding: 0;
}
.body {
  background-color: white;
}
.head {
  height: 10vh;
  width: 100%;
  background-color: blue;
  border-bottom: 1px solid white;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  padding-left: 30px;
}
.logotext {
  color: white;
}
.loginbtn {
  background-color: orange;
  outline: none;
  border: none;
  height: 30px;
  width: 110px;
  margin-right: 30px;
}
.foot {
  height: 30px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foot ul a {
  color: white;
  text-decoration: none;
  margin-left: 30px;
}
/* ----------hero-section-------- */
.hero-section {
  height: 60vh;
  width: 100%;
  background-image: url("assits/Capture.PNG");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  align-items: center;
}
.title {
  margin-left: 10rem;
}
.title h1 {
  font-size: 35px;
  color: rgb(255, 115, 0);
}
.title p {
  font-size: 18px;
  color: white;
}
.title button {
  background-color: rgb(255, 145, 1);
  outline: none;
  border: none;
  height: 40px;
  width: 120px;
  margin-top: 10px;
}
/* <!-- --------------root-section-------------- --> */
.root {
  width: 100%;
  height: auto;
}
.container {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  width: 220px;
  background-color: blue;
}


.card span {
  display: flex;
  padding-top: 10px;
  justify-content: space-around;
}
.card span p {
  color: white;
  font-size: 22px;
  padding-left: 10px;
  padding-top: 5px;
  margin-right: 20px;
}
.card img {
  height: 60px;
}
.card hr {
  margin: 10px;
}
.card a {
  color: white;
  text-align: center;
  text-decoration: none;
  padding-left: 10px;
}
@media (max-width: 480px) {
  .container {
    justify-content: space-between;
    gap:5px;
    padding: 0 8px;
  }

  .card {
    width: 45%; /* 2 cards ek line me */
  }

  .card span p {
    font-size: 16px;
  }

  .card img {
    height: 45px;
  }

  .card a {
    font-size: 14px;
  }
}


@media (max-width: 480px) {
  .logo {
    padding-left: 10px;
  }
  .logotext h1 {
    font-size: 19px;
  }
  .logotext p {
    font-size: 12px;
  }
  .foot {
    padding: 10px;
  }
  .hero-section {
    height: 40vh;
  }
  .title {
    margin-left: 10px;
  }
}
