* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f5f5f5;
}

  /* <!-- --------nev-bar-------------- --> */
.top-bar {
  background: linear-gradient(blue, rgb(54, 54, 255));
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}

.logo h1 {
  font-size: 26px;
}

.logo p {
  font-size: 14px;
}

.login-btn {
  background: orange;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  font-weight: bold;
}

/* ===== NAV ===== */
.nav-bar {
  background: linear-gradient(blue, rgb(54, 54, 255));
}

.nav-bar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-bar ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 18px;
  display: block;
}

.nav-bar ul li a:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* -------Hero section---- */
.hero {
  height: 60vh;
  background: url("https://i.pinimg.com/1200x/15/09/96/150996d5036e9230edc3fc48decaecd4.jpg")
    center/cover no-repeat;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.hero-content {
  position: relative;
  color: white;
  padding: 100px 40px;
}

.hero-content h1 {
  color: orange;
  font-size: 32px;
}

.hero-content h2 {
  font-size: 40px;
}

.hero-content button {
  margin-top: 15px;
  padding: 10px 20px;
  background: orange;
  border: none;
  cursor: pointer;
}

/* -------about section-------  */
.about {
  display: flex;
  justify-content: space-around;
  padding: 50px 30px;
  background: white;
  flex-wrap: wrap;
}

.about-text {
  width: 45%;
}

.about-text h2 {
  color: rgb(10, 10, 107);
  font-size: 32px;
}

.about-text h4 {
  color: orange;
  margin: 10px 0;
  border-bottom: 1px solid orange;
  border-top: 1px solid orange;
  padding: 10px;
}

.about-text p {
  font-size: 18px;
}

.about-text button {
  margin-top: 15px;
  padding: 8px 15px;
  background: linear-gradient(blue, rgb(54, 54, 255));
  color: white;
  border: none;
}

.about-images {
  width: 45%;
}

.about-images img {
  width: 240px;
  margin: 10px;
  border: 4px solid #ddd;
}
/* -----footer section----- */
.footer {
  background: linear-gradient(rgb(10,10,90), rgb(0,0,130));
  color: #fff;
  margin-top: 60px;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  padding: 50px 40px;
  flex-wrap: wrap;
}

.footer-section {
  width: 260px;
  margin-bottom: 30px;
}

.footer-section h3 {
  color: orange;
  margin-bottom: 15px;
  font-size: 20px;
  border-bottom: 2px solid orange;
  padding-bottom: 5px;
}

.footer-section p {
  font-size: 15px;
  line-height: 1.7;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 8px;
  font-size: 15px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  background: rgb(5,5,70);
  text-align: center;
  padding: 20px;
  font-size: 14px;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .logo h1 {
    font-size: 20px;
  }
  .logo p {
    font-size: 12px;
  }
  .login-btn {
    width: 90px;
    font-size: 11px;
    padding: 5px;
    color: rgb(36, 35, 35);
  }
  .hero {
    height: 40vh;
  }
  .hero-content {
    padding: 60px 20px;
  }

  .about-text,
  .about-images {
    width: 100%;
    text-align: center;
  }
  .about-text p {
    text-align: left;
  }
}
